.line {
    width: 1000px;
    height: 1spx;
    background-color: #0a0b0b;
}

.h2 {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.h3 {
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.s1 {
    margin-left: 30px
}